.App {
margin:10% auto ;
width: 400px;
height: 600px;
background-color: rgba(252, 252, 252, 0.5);
}
.form-area{
  margin: 50px 50px;
  padding-top: 20px;
}

.form-area input{
  height: 50px;
    width: 220px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.form-area input:focus{
  outline: none;
}
.form-area button{
  height: 55px;
  width: 61px;
  font-weight: bolder;
  border-radius: 5px;
  border: 0;
  background-color:rgba(202, 156, 24, 1); 
  cursor: pointer;
  margin-left: 5px;
}
.form-area button:focus{
  outline: none;
}
